# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jose_\OneDrive\Documentos\University\2021-1\GESTIÓN DE SERVICIOS DE TICS\PROYECTO\AVANCE2\GeekDevelopersHTML\html\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
