# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documentos\Cursos PUCP\2021-1\Gestión y servicios de TICS\Sesion 3\GeekDevelopersHTML\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
